/* GENERAL */
body {
	background: #f2f2f2;
	color: #111;
}

.container {
	width: 85%;
	margin: auto;
	max-width: 1100px;
}

header {
	background: #fff;
	padding: 25px 0;
	border-bottom: 1px solid #e5e5e5;
}

.header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}



/* NAV */
nav ul {
	display: flex;
	gap: 20px;
	list-style: none;
}
nav ul li+li {
	position: relative;
	padding-left: 20px;
}

nav ul li+li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 4px;
	bottom: 4px;
	width: 1px;
	background: black;
}

nav a {
	text-decoration: none;
	font-size: 14px;
	color: #000;
	font-weight: 700;
	padding-bottom: 5px;
	border-bottom: 2px solid transparent;
}


nav a:hover {
	border-bottom: 2px solid #000;
}

/* HERO */
.hero {
	
	position: relative;
	aspect-ratio: 16/9;
	

}

.hero .carousel{
	position: absolute;
	top:0; left:0;
	/* outline: 20px solid blue; */
	z-index: -1;
	width: 100%;
	height: 100%;
}
.carousel .img{
	/* outline: 20px red; */
	width: 100%;
	height: 100%;
	object-fit: cover;
}



.hero h2{text-shadow: #000 1px 0 10px;

}

.hero-text {
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	color: white;
}

.hero-text h2 {
	font-size: 48px;
	font-weight: 900;
	margin-bottom: 20px;
}

.btn {
	background: #6e8aa6;
	color: white;
	padding: 10px 25px;
	border-radius: 4px;
	text-decoration: none;
}

/* INTRO */
.intro {
	text-align: center;
	margin: 40px auto;
	font-size: 18px;
	max-width: 700px;
}


.row {
	display: flex;
	gap: 1rem;
}
.row > * {
	flex: 1;
}




/* CARDS */

.card h3 {
	margin-top: 15px;
	font-size: 18px;
	font-weight: 800;
	/* outline: 2px solid rgb(255, 0, 170); */
}

.card p {
	margin-top: 5px;
	font-size: 15px;
	color: #444;
	/* outline: 2px solid rgb(8, 0, 255); */
}
.card img{
	aspect-ratio: 4/3;
	object-fit: cover;
}

/* FOOTER */
footer {
	margin-top: 50px;
	background: #fff;
	padding: 30px 0;
	border-top: 1px solid #ddd;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.socials {
	display: flex;
	justify-content: center;
	gap: 15px;
	font-size: 22px;
}

.footer-right {
	text-align: right;
}